.product-list {
  text-align: center;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.img {
  width: 200px;
  height: 200px;
}

.login {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  padding: 10px;
  width: 300px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px 0;
}

small {
  color: red;
}

.btn {
  padding: 10px;
  width: 300px;
  border: 2px solid #cecece;
  margin: 10px 0;
  background-color: black;
  color: white;
}

.dropdown {
  margin: 0px 20px;
}

.drop {
  display: flex;
  flex-direction: row;
}